@model CNPM_ktxUtc2Store.Models.category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="admin-product-head">
    <div class="head-item">
        <div class="head-item-left"><i class="far fa-clipboard"></i> Danh sách sản phẩm</div>
    </div>
    <div class="head-item add-product">
        <a class="" style="" href="/Admin/products"><button class="btn-return">Trở về danh sách</button></a>
    </div>
</div>
<div class="edit-body">

</div>
    <div >
    <div  style="display: grid; justify-content: space-evenly; grid-template-columns: 80%; padding-bottom:20px;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
            
            <div style="box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);">
                <form asp-area="Admin" asp-controller="categories" asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 20% 80%;" >
                        <div style="padding-top:10px; display: grid; justify-content: space-evenly;" class="grid-center">
                            <label class="control-label">Loại sản phẩm</label>
                        </div>
                        <div style="display:flex;">
                            <div style="padding-top:4px; width:70%; height: 100%;" >
                                <input asp-for="categoryName" class="form-control" />
                            </div>
                            <div style="padding:7px; background:#F8F8F8; ">
                                <button class="btn wrap-btn m-color-full" type="submit">Thêm</button>
                            </div>
                        </div>
                        <span asp-validation-for="categoryName" class="text-danger"></span>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="admin-category-table">

        @await Component.InvokeAsync("categories")
    </div>
</div>





