@model CNPM_ktxUtc2Store.Areas.Admin.dto.variationdto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="admin-product-head">
    <div class="head-item">
        <div class="head-item-left"><i class="far fa-clipboard"></i> Danh sách sản phẩm</div>
    </div>
    <div class="head-item add-product">
        <a class="" style="" href="/Admin/products"><button class="btn-return">Danh sách sản phẩm</button></a>
    </div>
</div>
<div>
    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%; padding-bottom:20px;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
            <div></div>
            <div style="">
                <form asp-area="Admin" asp-controller="categories" asp-action="Variation" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%;">
                        
                        <div>
                            <div style="display: grid; grid-template-columns: 30% 70%; margin: 10px;">
                                <div>
                                    <label class="control-label">Tên</label>
                                </div>
                                <div>
                                    <input asp-for="name" class="form-control" />
                                </div>
                            </div >
                            <div style ="display: grid; grid-template-columns: 30% 70%; margin: 10px;">
                                <div>
                                    <label class="control-label">Giá trị</label>
                                </div>
                                <div>
                                    <input asp-for="value" class="form-control" />
                                </div>
                            </div>
                            
                            <div style="padding:7px;">
                                <button class="btn wrap-btn m-color-full" type="submit">Lưu</button>
                            </div>
                        </div>
                      
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div style="display: grid; justify-content: space-evenly; grid-template-columns: 80%;">
        <div class="" style="display: flex; flex-direction: column; background: #F8F8F8; border-radius: 10px;">
        <div class="all-variation">
            <div class="admin-variation-size">
                <div class="admin-variation-head">
                    Kích thước
                </div>
                <hr />
                <div class="admin-variation-items">
                    @foreach (var item in Model.variations)
                    {
                            
                                @if (item.name == "size")
                                {
                                <div class="admin-category-size">
                                    @item.value
                                </div>
                                }
                            
                    }
                </div>
            </div>

            <div class="admin-variation-color">
                <div class="admin-variation-head">
                    Màu sắc
                </div>
                <hr />
                <div class="admin-variation-items">
                    @foreach (var item in Model.variations)
                    {
                                @if (item.name == "color")
                                {
                                <div class="admin-category-size">
                                    @item.value
                                </div>
                                }
                    }
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
  