@model changeRole
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form asp-area="Admin" asp-controller="User" asp-action="Index">

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Tên người dùng
                </th>
                <th>
                    Số điện thoại
                </th>

                <th>
                  Email
                </th>
              


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.applicationUsers)
            {
                <tr>
                    <td>
                        <label>

                            <input asp-for="Id" type="radio"
                                   value="@item.Id" />
                        </label>
                    </td>
                </tr>
             <td>
                 @item.fullname
             </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Email
                </td>

                <td>
                    @if (item.isUprole == true)
                    {
                            <button style="padding:0 40%;" type="submit">Duyệt người dùng </button>
                    }
                </td>
            }
        </tbody>
    </table>

</form>
