@model CNPM_ktxUtc2Store.Areas.Admin.dto.UserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<div class="user-all-profile">
    @foreach (var item in Model.Users)
    {
        <div class="user-profile">
            <div class="img-hover">
                <img src="/images/@item.profilePicture">
            </div>
            <div class="user-details">
                <p>@item.fullname</p>
                <p>@item.Email</p>
               
                @if (item.PhoneNumber == null)
                {
                    <p>Chưa cập nhật</p>
                }
                else
                {
                    <p>@item.PhoneNumber</p>
                }
            </div>
        </div>
    }
</div>
