@model CNPM_ktxUtc2Store.Areas.Admin.dto.UserDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên nhân viên
            </th>

            <th>
                SĐT
            </th>
            <th>
                Tài khoản
            </th>
            <th>
                Avata
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @item.fullname
                </td>
                <td>
                    @item.PhoneNumber
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    <img src="/images/@item.profilePicture">

                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

