@model  CNPM_ktxUtc2Store.Models.product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Thêm</h2>
<hr />
<div class="row">
    <div class="col-md-4" style="display: flex; flex-direction: column;">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div>
                <div class="form-group">
                    <label asp-for="productName" class="control-label">Tên Sản Phẩm</label>
                    <input asp-for="productName" class="form-control" />
                    <span asp-validation-for="productName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="oldprice" class="control-label" id="checkprice">Giá Nhập</label>
                    <input asp-for="oldprice" class="form-control" min="1"/>
                    <span asp-validation-for="oldprice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="price" class="control-label">Giá Bán</label>
                    <input asp-for="price" class="form-control" min="1" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-8">
                        <label asp-for="image">Ảnh Minh Họa</label>
                        <input type="file" class="form-control" asp-for="image" id="ChooseImg" />
                    </div>
                    @* <div class="col-4">
                    <img src="https://placehold.jp/150*150.png" style="width:100px; height:100px;border:1px solid red; border-radius:10px;padding:10px; "
                    alt="product image" id="PreImg" />
                    </div> *@
                </div>
                <div class="form-group">
                    <label asp-for="categoryId" class="control-label">Loại Sản Phẩm</label>
                    <select asp-for="categoryId" class="form-control" asp-items="ViewBag.categoryId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="qty_inStock" class="control-label">Số Lượng Nhập</label>
                    <input asp-for="qty_inStock" class="form-control" />
                    <span asp-validation-for="qty_inStock" class="text-danger"></span>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label asp-for="description" class="control-label">Mô Tả Sản Phẩm</label>
                    <textarea asp-for="description" class="form-control" rows="30" style="width: 1000px;"></textarea>
                    @* <input asp-for="description" class="form-control" /> *@
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Back to List</a>
</div>
<script>
    document.getElementById('checkprice').addEventListener('input', function () {
        // Lấy giá trị của input
        var inputValue = this.value;

        // Kiểm tra điều kiện phù hợp
        if (inputValue < 0) {
            console.log('Nội dung phù hợp.');
        } else {
            console.log('Nội dung không phù hợp.');
        }
    });
</script>
