<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/repos_inven.css" />
    <link rel="stylesheet" href="~/css/css_cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/ctdh.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="~/css/layoutAdmin.css">

</head>
<body>
    <div class="admin-layout-main">
        <div class="sidebarAD" id="sidebarad" style="display:none;">
            <a href="javascript:void(0)" class="close-bar" onclick="w3_close()">&times;</a>
            <div class="sidebarAD-brand">
                <h1 > <span class="las la-accusoft">Accusoft</span>Accusoft</h1>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <p>
                            <span class="las la-igloo"></span>
                            <span>Dashboard</span>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-igloo"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-igloo"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-igloo"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-users"></span>
                            <span>Customers</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-clipboard-list"></span>
                            <span>Products</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebarAD-menu">
                <ul>
                    <li>
                        <a href="">
                            <span class="las la-receipt"></span>
                            <span>Inventory</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ad-main-content">

            <header>
                <h2 class="ad-main-content-header">
                    <label for="">
                        <span class="las la-bars bar-button" onclick=" w3_open()" style="cursor:alias;"> </span>
                    </label>
                    Dashboard
                </h2>
            </header>
            <main>
                <div class="cards">
                    <div class="card-single">
                        @RenderBody()
                    </div>

                </div>
            </main>


        </div>
    </div>
    
    

    <script>
        function w3_open() {
            const adMainContents = document.getElementsByClassName('ad-main-content');

            for (const adMainContent of adMainContents) {
                adMainContent.style.marginLeft = "250px";
            }
            document.getElementById("sidebarad").style.display = "block";
            document.getElementById("sidebarad").style.width = "250px";
            
        }

        function w3_close() {
            document.getElementById("sidebarad").style.width = "0";
            const adMainContents = document.getElementsByClassName('ad-main-content');

            for (const adMainContent of adMainContents) {
                adMainContent.style.marginLeft = "2%";
            }
           
        }
        $(function () {
            // Định dạng số tiền
            const money = 1234567890;
            const formattedMoney = money.toLocaleString();

            // Hiển thị số tiền
            $("#money").html(formattedMoney);
        });

        const evwheels = document.getElementsByClassName('repos-item-img-container');
        for (const evwhell of evwheels) {
            evwhell.addEventListener("wheel", wheelf);
        }

        function wheelf() {
            const imgresizes = document.getElementsByClassName('repos-item-img-show');
            for (const imgresize of imgresizes) {
                imgresize.style.width = "300px";
                imgresize.style.height = "300px";
            }
           
        }
    </script>
</body>
</html>
@RenderSection("scripts", required: false)

