
.all{
   background:white;
    border: 1px solid black;
    border-radius: 2px;
    padding : 10px;
    
}
.all-categories {
    background: #F8F8F8;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px;
    padding-top: 20px;
}
hr{
    margin: 0.4rem 0;
}
.admin-product-head {
    position: relative;
    display: grid;
    margin-top: 2px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    grid-template-columns: 30% 40% 30%;
    place-content: center;
    border-radius: 10px;
    position: relative;
    height: 60px;
    background: white;
}
    .head-item{
        display: grid;
        place-content: center;
        justify-content: space-evenly;
    }
        .head-item .head-item-left{
            height: 100%;
            display: flex;
            flex-direction: row;
            font-size: 125%;
            position: relative;
        }
        .head-item .head-item-left i{
            
            position: absolute;
            top:3px;
            left: -20px;
        }
.add-product {
    position: absolute;
    top: 15px;
    right: 50px;
    
}
.category-head-color {
    
}
.admin-category-around {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}
.admin-category-table {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 80% ;
    height: 75vh;
}
.admin-category {
    display: grid;
    justify-content: space-between;
    place-content: center;
    flex-basis: 5%;
}
.admin-category-id {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}

.admin-category-name {
    display: grid;
    place-content: center;
    flex-basis: 15%;
}
.admin-category-size, .admin-category-color {
    display: grid;
    place-content: center;
    flex-basis: 20%;
}
.variation-body{
    display: grid;
    width: 195.1px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}
.admin-category-controle {
    display: grid;
    place-content: center;
    flex-basis: 30%;
    
}
.admin-category-controle-option{
    display:flex;
    place-content:center;
    justify-content:center;
    padding:5px;
}
.add-product-1 {
    height: 100%;
    border-radius: 10px;
    display: grid;
    place-content: center;
}
.add-product-1:hover{
    background-color: dodgerblue;
}
.admin-product{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;

}
.admin-product-name{
    display: grid;
    place-content: center;
    flex-basis: 20%;
}
.admin-product-image {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
    .hover-img {
        position: relative;
    }
    .show-img {
       display: none;
        position: absolute;
        width:400px;
        height: 400px;
        top: -200px;;
        left : 150%;
        z-index: 1;
    }
        .show-img img {
            border-radius: 20%;
            box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.5);
        }
    .show-img:before {
        content: "";
    }
    .hover-img:hover .show-img{
        display: block;
    }
.admin-product-price {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-discount {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-quanty {
    display: grid;
    place-content: center;
    flex-basis: 10%;
}
.admin-product-descript {
    display: grid;
    place-content: center;
    
    flex-basis: 10%;
}
.admin-product-descript-tooltip {
    position: relative;
}
.hover-show-descript {
    
}
.show-descript {
    display: none;
    position: absolute;
    width:200px;
    height: 200px;
    top: -80px;
    right : 150%;
    padding: 5px;
    border: 1px solid lightblue ;
    border-radius: 10%;
    z-index: 1;
    background-color: lightblue;
}
    .show-descript::before {
        content: '';
        position: absolute;
        right: -10%;
        top: 40%;
        border: 10px solid;
        border-color: #0000 #0000 #0000 lightblue;
    }

    .admin-product-descript-tooltip:hover .show-descript {
    display: block;
    }
.admin-product-controle {
    display: grid;
    place-content: center;
    grid-template-columns: 30% 30% 30% ;
    flex-basis: 20%;
}
.head-color{
    background-color: aqua;
}
.m-color-full {
    background: #e74c3c;
}
/*categori-variation*/
.all-variation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .admin-variation-size{
        border: 1px solid gray;
        border-radius: 10px;
        flex-basis: 45%;
    }
    .admin-variation-color {
        border: 1px solid gray;
        border-radius: 10px;
        flex-basis: 45%;
    }
        .admin-variation-head{
            display: grid;
            justify-content: space-evenly;
        }
        .admin-variation-items{
            display: grid;
            grid-template-columns: auto auto auto;
            margin-bottom: 5px;
        }
/*infostorage*/


    .Info-item {
        display: flex;
        flex-direction: row;
        place-content: center;
       padding-top: 5px;
       
    }

.InfoStore {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
    direction: rtl;
    padding-right: 10px;
}
        .InfoStore2{
            flex-basis: 50%;
            display: flex;
            align-items: flex-start;
        }
/*addvariation*/
.btn-vcheck{
    background-color: dodgerblue;
    color: greenyellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.btn-vremove {
    background-color: red;
    color: white;
    width: 30px;
    height: 30px;
}
.txtblue {
    padding-left: 5px;
    color: dodgerblue;
}

.txtred {
    padding-left: 5px;
    color: red;
}
