
    header {
        position: sticky;
        z-index: 1;
        top: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: 90px;
        padding: 10px 0px;
        background: #faebd7;
        border-bottom: 1px solid #fddcb0;
        box-shadow: 0px 1px 6px #e1d2d2;
    }
    header {
        width: 100%;
    }
    header .top-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    header .top-box .logo a {
        line-height: 1;
        font-size: 30px;
        color: #000;
        font-weight: 700;
    }
    header .top-box .logo a span:first-child{
         margin-right:5px;

    }
    header .top-box .logo a span:last-child {
        color: #e74c3c;
        font-size: 28px;
        font-weight: 600;
    }
    header .top-box .login-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    header .top-box .login-wrap .login-item {
    }
    header .top-box .login-wrap .login-item a{
        color:unset;
        
    }

    header .top-box .login-wrap .login-item:hover{
        color:#e74c3c;
    }
    header .bottom-box{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    header .bottom-box .search-wrap {
        display: flex;
        align-items: center;
        gap:10px;
    }
    header .bottom-box .search-wrap .search {
        position: relative;
    }
    header .bottom-box .search-wrap .search input{
        border: unset;
        background: transparent;
        border-bottom: 1px solid #000;
        padding: 0px 10px;
    }
    header .bottom-box .search-wrap .search i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%)
    }
    header .bottom-box .search-wrap .cart a {
        position:relative;
        font-size: 20px;
    }
    header .bottom-box .search-wrap .cart a .num {
        position: absolute;
        z-index: 0;
        right: -15px;
        top: 0px;
        color: #fff;
        background: #0dcaf0;
        font-size: 12px;
        width: 18px;
        height: 18px;
        padding: 0px;
        text-align: center;
        font-weight: 400;
        line-height: 18px;
        border-radius: 50%; 
    }
    header .bottom-box .main-menu {
        padding: 0;
        display: flex;
        align-items: center;
        margin: 0;
        height: 40px;
    }
    header .bottom-box .main-menu .menu-item{
        color: #000;
        font-size: 18px;
        line-height: 1;
        padding: 5px 10px;
        font-weight: 500;
        transition: all .2s;
    }
    header .bottom-box .main-menu .menu-item:hover{
         color: #e74c3c;
         border-bottom: 1px solid;
    }
    header .bottom-box .main-menu .menu-item:first-child{
        padding-left:0px
    }
    