@using Microsoft.AspNetCore.Identity
@inject SignInManager<applicationUser> SignInManager
@inject UserManager<applicationUser> UserManager


<ul class="login-wrap">
    
@if (SignInManager.IsSignedIn(User))
{
        @await Component.InvokeAsync("user")
       
        <li class="login-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
      

    
    <li class="login-item">
            <a class="" asp-area="Identity" asp-page="/Account/Login"> <i class="fa-solid fa-circle-user"></i> Đăng nhập</a>
    </li>
    <li class="login-item">
            <a class="" asp-area="Identity" asp-page="/Account/Login"> <i class="fa-solid fa-phone"></i> Liên hệ</a>
    </li>
}
</ul>
