@model CNPM_ktxUtc2Store.Areas.Admin.dto.dask
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
<h1>Số nhân viên: @Model.sonhanvien</h1>
<h1>Số người dùng:@Model.songuoidung</h1>