@model BannerStorage

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="admin-product-head">
    <div class="head-item">
        <h5><i class="far fa-clipboard"></i> Thông tin cửa hàng</h5>
    </div>
</div>
<hr />
<div class="edit-item">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="edit-item">
                <img class="edit-item-img" id="displayImg" src=""/>
            </div>
            <div class="edit-item">
                <input type="file" class="form-control" asp-for="picture" id="ChooseImg" />
            </div>

            <div class="form-group box-btn" style="margin-left:10px;">
                <input  type="submit" value="Lưu" class="wrap-btn m-color-full" />
                <div>
                    <a asp-action="Index"><button class="wrap-btn m-color">Trở về</button></a>
                </div>
            </div>
            </div>
        </form>
</div>
<script>
    var imgElement = document.getElementById("displayImg");
    var inputElement = document.getElementById("ChooseImg");
    
    inputElement.addEventListener("input", function () {
        var ImgName = inputElement.files;
        if (ImgName.length > 0) {
            var fileName = ImgName[0].name;
            var inputValue = inputElement.value;
            imgElement.src = "/images/" + fileName;
        }
        
    });
</script>


