@model IEnumerable<CNPM_ktxUtc2Store.Models.BannerStorage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<h1>Index</h1>

<div class="admin-product-head" style="position: relative;">
    <div class="head-item">
        <div class="head-item-left"><i class="far fa-clipboard"></i> Danh sách sản phẩm</div>
    </div>
    <p style="position: absolute; top: 15px; right: 50px;">
        <a asp-action="Create"><button class="btn-return">Thêm Banner mới</button></a>
    </p>

</div>
<div>
    <div style="display: grid; grid-template-columns: 30% 30% 30%; justify-content: space-evenly;">
        @foreach(var item in Model)
        {
            <div style="display: flex; flex-direction: row; border: 1px solid gray; box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);">
                <div style="align-self: flex-start;">
                    <img class="" style="max-height:180px;" src="/images/@item.Bannerpicture">
                </div>
                <div style="display: grid; justify-content: space-evenly;"><a style="display: grid;" asp-action="Delete" asp-route-id="@item.Id" class="btn wrap-btn m-color-full">X</a></div>
            </div>
           
        }
    </div>
</div>

