@model CNPM_ktxUtc2Store.Areas.Admin.dto.dask
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Index</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          Số nhân viên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sonhanvien)
        </dd>
        <dt class="col-sm-2">
           Số người dùng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.songuoidung)
        </dd>
        <dt class="col-sm-2">
           Tổng doanh số
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tongdoanhso)
        </dd>
    </dl>
</div>
